*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-padding-top: 10vh;
}
.topo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    position: fixed;
    padding-left: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(100, 70, 40, 0.20);
    z-index: 1000;
}
main{
    padding-top: 10vh;
}
.logo{
    width: auto;
    height: 30px;
    margin-left: 15px;
}

.menu{
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    gap: 30px;                 /* Espaço entre os tópicos */
    margin-right: 40px;        /* Espaço da borda direita */
}

.menu a{
    text-decoration: none; /* tira a barra de baixo */
    color: #024959;
    padding-bottom: 5px; /* espaço entre o texto e o risco*/
    transition: 0.3s; /* transição da tela*/
}

.menu a:hover {
    color: #593e25; /* Muda a cor quando passar o mouse */
}

.menu a.active {
    color: #f2ae30; /* Cor do tópico selecionado */

    border-bottom: 2px solid #f2ae30; /* Risco embaixo do tópico */
}

/*----------------------quem somos-----------------*/
.empresa{
    width: 60%;
    height: auto;
}

.empresa-section{
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

.politica {
    width: 100%;
    padding: 80px 10px;
    text-align: center;
}

.titulo-politica {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.titulo-politica span {
    width: 2px;
    height: 55px;
    background-color: #f5a623;
}

.titulo-politica h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.politica p {
    width: 600px;
    margin: 50px auto 0;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    align-items: center;
}

.tabela{
    width: 50%;
    height: auto;
}

.alinhar-tabela{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.profissionais {
    margin-top: 10%;
    width: 100%;
    padding: 30px 5% 60px;
    text-align: center;
}

.profissionais h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 100px;
}

.equipe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profissional {
    width: 20%;
    text-align: center;
}

.profissional img {
    width: 170px;
    height: 250px;
    object-fit: cover;

    border-radius: 45%;

    transition: transform 0.4s ease,
                box-shadow 0.4s ease;
}

.profissional img:hover {
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.profissional p {
    margin-top: 45px;
    font-size: 14px;
    line-height: 1.2;
}

.profissional strong {
    font-weight: 400;
}

/*-----------footer----------------*/

.footer {
    margin-top: 2S5px;
    width: 100%;
    height: 120px;
    background-color: #f5b32b;

    display: flex;
    align-items: center;

    padding: 15px 20px;
    position: relative;

    font-family: Arial, sans-serif;
    font-size: 9px;
    color: #000;
}

.footer-esquerda {
    width: 35%;
    line-height: 1.4;
}

.footer-centro {
    width: 35%;
    line-height: 1.3;
}

.footer-centro p {
    margin: 0;
}

.footer-logo {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

/*------------responsividade--------*/

@media (max-width: 900px) {

    .menu {
        gap: 35px;
    }

    .banner-texto {
        width: 500px;
    }

    .produtos {
        gap: 25px;
    }

    .rodape {
        flex-wrap: wrap;
    }
}


@media (max-width: 600px) {

    /* Cabeçalho */
    .cabecalho {
        height: auto;
        padding: 20px 5%;

        flex-direction: column;
        gap: 20px;
    }

    .logo {
        font-size: 32px;
    }

    .menu {
        gap: 20px;
    }

    .menu a {
        font-size: 14px;
    }
}